<div class="welcome col-md-12 text-center"> <h1> Welcome to Task List Manager </h1></div>
<div class="new_list col-md-2">

  <%= bootstrap_form_for [@list],  :html => { multipart: true }  do |f| %>
  <h3> Add a new list: </h3>
    <%= f.text_field :title, placeholder: "Task List" %>
    <%= f.submit "Submit", class: "btn btn-info" %>
  <% end %>
</div>

<div class="col-md-10">

  <div class="data-table row listed-lists" >
    <table id="index" class="table table-striped table-bordered table-hover task-table text-center">
      <thead>
        <h3 class="lists-list text-center"> Active Task Lists
        </h3>
        <tr>
          <th> Title (click to update) </th>
          <th> Tasks </th>
          <th> Action </th>
        </tr>
      </thead>
      <tbody>
      <% @lists.active.each do |list| %>
        <tr>
          <td><%= best_in_place list, :title, :as => :input %></td>
          <td><%= link_to "#{list.tasks.size} tasks", list_path(id: list.id, complete: "incompleted") %></td>
          <td><ul class="list-inline"><li><span class="text-center btn status"><%=best_in_place list,
              :archived, :as => :checkbox,
              :collection => {:false => "Archive", true: "Unarchive"} %></li></ul>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
    <%= link_to "Update Tables", lists_path, class: "btn btn-default" %>
    <%= link_to "See Archived Task Lists", archived_lists_path, class: "btn btn-default" %>
  </div>
</div>
